.Header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    color: Black;
    padding: 20px;
    background-color: #40B3AE;
}

.Header .HeaderImage {
    box-shadow: 0 4px 8px 0 rgba(238, 40, 40, 10);
    height: 100px;
    vertical-align: middle;
    border-radius: 25%;
    margin: 0px 30px;
}

.Header .HeaderTitle {
    font-size: 70px;
    font-weight: 900;
    padding: 10px 25px;
}