.Header {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    text-align: left;
    color: Black;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 30px;
    background-color: aqua;
}

.Header .HeaderImage {
    height: 120px;
    /* width: 100px; */
    display: inline;
}

.Header .HeaderTitle {
    display: inline;
    padding: 20px;
}