/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(10, 107, 167);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.button {
  background-color: rgb(10, 107, 167);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px 14px 10px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff0000;
  color: white;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ff0000;
  color: white;
}
